.img {
  background: url(https://wallpaperaccess.com/full/2641052.gif);
  background-repeat: no-repeat;
  background-size: cover;

  width: 50%;
  height: 100%;

  padding: 2rem;

  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 0;

  z-index: 15;
}

.toLeft {
  animation: toleft 0.5s linear;
  background-position: 0%;
  transform: translateX(0);
}
@keyframes toleft {
  0% {
    background-position: 100%;
    transform: translateX(100%);
  }
  100% {
    background-position: 0%;
    transform: translateX(0);
  }
}

.toRight {
  animation: toright 0.5s linear;
  transform: translateX(100%);
  background-position: 100%;
}

@keyframes toright {
  0% {
    background-position: 0%;
    transform: translateX(0);
  }
  100% {
    background-position: 100%;
    transform: translateX(100%);
  }
}

@media (max-width: 38rem) {
  .img {
    display: none;
  }
}
