.items-container {
  padding: 1.5rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;

  flex: 6;

  overflow-y: scroll;
}

.item-container {
  position: relative;
  padding: 0.4rem;
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color: rgba(164, 207, 252, 0.676);
}

.img-container {
  height: 4rem;
  aspect-ratio: 1/1;
  overflow: hidden;
}

.img {
  height: 100%;
  aspect-ratio: 1/1;
}

.info-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  font-size: 0.8rem;
  gap: 1rem;
}

.tag {
  border-bottom: 1px solid rgb(255, 255, 255);
}

.amount-container {
  display: flex;
  justify-content: center;
  align-items: baseline;
  gap: 0.4rem;
}

.unit-price {
  display: none;
}

.cancel-container {
  padding: 0.2rem;

  position: absolute;
  top: 0;
  right: -1rem;
  bottom: 0;

  font-size: 0.8rem;
  background-color: rgba(0, 119, 255, 0.801);

  cursor: pointer;
  user-select: none;

  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  font-size: 0.8rem;
  cursor: pointer;
  user-select: none;
}

@media (min-width: 22rem) {
  .info-container {
    font-size: 1rem;
  }

  .img-container {
    height: 5rem;
  }

  .amount-container {
    gap: 0.6rem;
  }

  .icon {
    font-size: 0.8rem;
  }
}

@media (min-width: 29rem) {
  .unit-price {
    display: flex;
  }
}

@media (min-width: 40rem) {
  .items-container {
    min-height: calc(100vh - 4rem - 4.7rem - 3rem - 4rem);
    flex: 3;
    gap: 1rem;
  }
  .item-container {
    padding: 1rem;
    gap: 1rem;
  }
  .cancel-container {
    min-width: 1.5rem;
    display: none;
    right: -1.5rem;
    font-size: 1rem;
    background-color: rgba(255, 0, 0, 0.801);
  }

  .item-container:hover .cancel-container,
  .item-container:active .cancel-container,
  .item-container:hover .cancel-container:hover,
  .item-container:active .cancel-container:active {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .unit-price {
    display: none;
  }

  .icon {
    font-size: 1rem;
  }
}

@media (min-width: 45rem) {
  .img-container {
    height: 6rem;
  }

  .info-container {
    gap: 1.5rem;
    font-size: 1.1rem;
  }

  .amount-container {
    gap: 0.8rem;
  }
}

@media (min-width: 48rem) {
  .unit-price {
    display: flex;
  }
}
