.form {
  height: 100%;
  max-width: 50vw;
  flex: 0.5;
  padding: 2rem;

  position: relative;
  z-index: 3;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1.8rem;

  text-align: center;
  color: rgb(0, 0, 0);
  background: rgb(255, 255, 255);
}

.btn-container {
  width: 70%;
  display: flex;
  justify-content: center;
}

.btn {
  transition: 0.2s ease;
}

.btnSignup {
  flex: 1;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.644);
}

.btnSignup:hover {
  background-color: rgba(242, 62, 122, 0.76);
}

.input {
  /*Reset Input*/
  appearance: none;
  outline: none;
  border: none;

  padding-left: 0.7rem;
  border-radius: 10px;
}

.input::selection {
  background-color: rgb(255, 255, 255);
  color: white;
}

.invalid {
  background: #ffc0c0;
  box-shadow: inset 0 -1px 10px white;
}

.invalid:-webkit-autofill,
.invalid:-webkit-autofill:hover,
.invalid:-webkit-autofill:focus,
.invalid:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #ffc0c0 inset !important;
}
