.form {
  max-width: 50vw;
  flex: 0.5;
  padding: 2rem;

  position: relative;
  z-index: 3;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1.8rem;

  text-align: center;
  color: #fff;
  background: linear-gradient(to bottom right, #002f4b, #dc4225);
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1.8rem;

  border: solid 7px rgb(0, 0, 0);
  padding: 5.2rem;
  text-align: center;
}

.btn-container {
  width: 70%;
  display: flex;
  justify-content: center;
}

.btn {
  background-color: rgb(6, 48, 74);
  color: white;
}

.link {
  border: none;
  appearance: none;
  cursor: pointer;

  margin-left: 1rem;
  padding: 0.6rem 1.5rem;
  border-radius: 10px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.82rem;

  background-color: rgba(6, 48, 74, 0.869);
  color: rgb(255, 255, 255);
}

.link:hover,
.link:active,
.link:focus {
  background-color: #000000;
  color: rgb(255, 255, 255);
  box-shadow: 0 0 15px 2px white;
}

.err {
  padding: 0.8rem;
  background-color: rgb(247, 214, 218);
  border-radius: 5px;
  color: rgb(89, 46, 50);
}

@media (max-width: 52rem) {
  .container {
    border: none;
    padding: 1rem;
  }
}

@media (max-width: 38rem) {
  .form {
    max-width: none;
    width: 100vw;
    flex: 1;
    padding: 2rem;
  }
  .container {
    border: solid 7px rgb(255, 255, 255);
    padding: 5.2rem;
  }
}

@media (max-width: 26rem) {
  .container {
    border: none;
    padding: 1rem;
  }
}
