.tablet-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  height: 100px;
  min-width: 4.5rem;
  max-width: 6rem;
  padding: 0.2rem;

  clip-path: polygon(0 0, 100% 0, 100% 75%, 75% 100%, 25% 100%, 0 75%);

  color: #293462;
  background-color: transparent;
  user-select: none;
  text-align: center;
  cursor: pointer;

  transition: all 0.2s ease-in-out;
  -webkit-box-shadow: inset 0px 4px 38px 10px rgba(122, 122, 122, 0.43);
  -moz-box-shadow: inset 0px 4px 38px 10px rgba(122, 122, 122, 0.43);
  box-shadow: inset 0px 4px 38px 10px rgba(122, 122, 122, 0.43);
}

.tablet-container:hover {
  -webkit-box-shadow: inset 0px -27px 31px 25px rgba(122, 122, 122, 0.43);
  -moz-box-shadow: inset 0px -27px 31px 25px rgba(122, 122, 122, 0.43);
  box-shadow: inset 0px -27px 31px 25px rgba(122, 122, 122, 0.43);
}

.typeName {
  font-weight: 600;
}

.closeIcon {
  margin: auto;
}

.active {
  transform: translateY(-1.8rem);
}

.icon {
  font-size: 1.5rem;
}

@media (max-width: 75rem) {
  .tablet-container {
    font-size: smaller;
  }
}

@media (max-width: 75rem) {
  .tablet-container {
    min-width: 4.5rem;
    max-width: 5rem;
    height: 80px;
    font-size: smaller;
    gap: 0.6rem;
  }
  .active {
    transform: translateY(-27px);
  }
}

@media (max-width: 67rem) {
  .tablet-container {
    height: 50px;
    min-width: 2rem;
    max-width: 4rem;
  }
  .typeName {
    display: none;
  }
  .icon {
    font-size: 1.4rem;
  }
  .active {
    transform: none;
    background: black;
    color: white;
  }
}

@media (max-width: 35rem) {
  .tablet-container {
    height: 40px;
    min-width: 2rem;
    max-width: 3rem;
  }
  .icon {
    font-size: 1rem;
  }
  .active {
    transform: none;
    background: black;
    color: white;
  }
}

@media (max-width: 27rem) {
  .tablet-container {
    height: 40px;
    min-width: 1.5rem;
    max-width: 3rem;
  }
  .icon {
    font-size: 1rem;
  }
  .active {
    transform: none;
    background: black;
    color: white;
  }
}

@media (max-width: 22rem) {
  .tablet-container {
    max-width: 2rem;
  }
}
