.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 500;

  display: flex;
  justify-content: center;
  align-items: center;
}
.background {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  background-color: rgba(0, 0, 0, 0.702);
  z-index: 500;

  display: flex;
  justify-content: center;
  align-items: center;
}

.upload-photo-container {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  z-index: 1000;
}

.preView {
  position: relative;
  overflow: hidden;
  height: 20vw;
  width: 20vw;
  min-width: 7rem;
  min-height: 7rem;
  max-height: 12.5rem;
  max-width: 12.5rem;
  border-radius: 100%;

  background: rgba(0, 0, 0, 0.841);
  background-image: var(--urlPhoto);
  background-position: var(--position);
  background-size: var(--size);
  background-clip: border-box;
  background-repeat: no-repeat;
}

.selectContainer {
  position: relative;
  display: flex;
  align-self: flex-end;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.typeSelect {
  text-align: center;
  width: 10vw;
  min-width: 6rem;
  max-width: 15rem;
  height: 1.2rem;
  padding: 0 1.1rem 0 0.7rem;

  transition: all 0.3s ease-in-out;
  background-color: #4d5061;
  color: white;

  appearance: none;
  outline: 0;
  border: 0;
  outline: 0;
  /* Reset */
  /* appearance: none;
  border: 0;
  outline: 0;
  font: inherit; */
}
.typeSelect:hover {
  background-color: #595b65;
}

.custom-arrow {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  background-color: rgb(0, 0, 0);
  height: 100%;
  width: 1.2rem;
  pointer-events: none;
  /*so under the span can be clickeble*/
}

.icon {
  color: white;
}

.invalid {
  background: #ffc0c0;
  box-shadow: inset 0 -1px 10px white;
}

.invalid:-webkit-autofill,
.invalid:-webkit-autofill:hover,
.invalid:-webkit-autofill:focus,
.invalid:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #ffc0c0 inset !important;
}
.err {
  padding: 0.8rem;
  background-color: rgb(247, 214, 218);
  border-radius: 5px;
  color: rgb(89, 46, 50);
}
