.cart-container {
  position: relative;

  min-height: calc(100vh - 4rem - 4.7rem);

  background-color: rgb(187, 187, 187);
  background-image: url(../../assets/simon-berger-twukN12EN7c-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  backdrop-filter: blur(10px);
}

.cart-container::before {
  content: '';

  position: absolute;

  inset: 0;

  background: black;
  opacity: 0.6;
}

.content-container {
  position: relative;
  max-width: 75rem;

  height: calc(100vh - 4rem - 4.7rem - 3rem);
  min-height: 40rem;

  margin: auto;

  display: flex;
  flex-direction: column;

  z-index: 5;

  opacity: 0.8;
  overflow: hidden;
}

@media (min-width: 40rem) {
  .content-container {
    flex-direction: row;
  }
}

@media (min-width: 75rem) {
  .cart-container {
    padding: 2rem 0;
  }

  .content-container {
    height: calc(100vh - 4rem - 4.7rem - 3rem - 4rem);
  }
}
