.cart-container {
  position: relative;

  min-height: calc(100vh - 64px - 75.2px - 16px);

  background: rgb(113, 113, 113);
  overflow: hidden;
}

.content-container {
  max-width: 75rem;
  margin: auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media (min-width: 48rem) {
  .content-container {
    flex-direction: row;
  }
}
