.home {
  background: linear-gradient(45deg, #737dfe, #ffcac9);
}

.slide {
  height: 250px;
  padding: 0.5rem 5rem;
  background: linear-gradient(45deg, #737dfe, #ffcac9);
}

.products {
  max-width: 1400px;
  min-height: 500px;
  width: 100%;
  padding: 2rem;
}

@media (max-width: 700px) {
  .slide {
    height: 200px;
  }
}

@media (max-width: 550px) {
  .slide {
    height: 150px;
  }
}

@media (max-width: 385px) {
  .slide {
    height: 120px;
  }
}
