.detail-container {
  min-height: calc(100vh - 4rem - 4.7rem);

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  grid-template-areas: 'left-side right-side';
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.left-side {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
  background-image: linear-gradient(to right, #000000, #282727, #4b4a49);
  grid-area: left-side;
}

.right-side {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 2rem;

  padding: 2rem;
  background-image: linear-gradient(
    to right,
    #70706e,
    #989896,
    #adafad,
    #c3c6c4,
    #d9dddd,
    #e3e5e6
  );

  grid-area: right-side;
}

@media (max-width: 57.5rem) {
  .detail-container {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    grid-template-areas:
      'left-side'
      'right-side';
  }
  .left-side {
    padding: 2rem 1.2rem;
    background-image: linear-gradient(to bottom, #000000, #282727, #4b4a49);
  }
  .right-side {
    padding: 2rem 1.2rem;
    background-image: linear-gradient(
      to bottom,
      #70706e,
      #989896,
      #adafad,
      #c3c6c4,
      #d9dddd,
      #e3e5e6
    );
  }
}

@media (max-width: 29rem) {
  .left-side {
    padding: 2rem 1rem;
  }
  .right-side {
    padding: 2rem 1rem;
  }
}
