.profile-container {
  height: 800px;
  padding: 3rem 5rem;
  background: linear-gradient(45deg, #737dfe, #ffcac9);
}

.profile-size-control {
  max-width: 100rem;
  margin: auto;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
