.DynamicPanel {
  grid-area: 2 / 1 / 3 / 3;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 0.8rem;
}

.open {
  animation: modalOpen 0.5s ease-out forwards;
}

.close {
  animation: modalClosed 0.4s ease-out forwards;
}

.closeRightAway {
  opacity: 0;
  visibility: hidden;
  position: absolute;
}

@keyframes modalOpen {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes modalClosed {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
