.DynamicPanel {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
  margin: auto;
}

.open {
  animation: modalOpen 0.5s ease-out forwards;
}

.close {
  animation: modalClosed 0.4s ease-out forwards;
}

.closeRightAway {
  opacity: 0;
  visibility: hidden;
  position: absolute;
}

@keyframes modalOpen {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes modalClosed {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@media (max-width: 37.5rem) {
  .DynamicPanel {
    font-size: smaller;
  }
}
