.email-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 1rem;
}

.btn {
  padding: 0.7rem;
  max-width: 5rem;
  margin: 0 1rem;
}

.invalid {
  background: #ffc0c0;
  box-shadow: inset 0 -1px 10px white;
}

.invalid:-webkit-autofill,
.invalid:-webkit-autofill:hover,
.invalid:-webkit-autofill:focus,
.invalid:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #ffc0c0 inset !important;
}
.err {
  padding: 0.8rem;
  background-color: rgb(247, 214, 218);
  border-radius: 5px;
  color: rgb(89, 46, 50);
}
