.account-details {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.title {
  color: rgb(255, 255, 255);
  width: fit-content;
  text-shadow: 1px 1px 1px black;
}

.title::after {
  display: block;
  content: '';
  margin-top: 0.3rem;
  border-radius: 5px;
  border-bottom: 3px solid rgb(255, 255, 255);
  box-shadow: 1px 1px 5px rgb(255, 255, 255);
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}

.title:hover::after {
  transform: scaleX(1);
}

.open {
  animation: modalOpen 1s ease-out forwards;
}

.close {
  opacity: 0;
  visibility: 0;
}

@keyframes modalOpen {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
