.header {
  display: flex;
  align-items: center;

  height: 4.7rem;
  padding: 0 2.4rem;

  background: var(--background-color);

  position: relative;
  z-index: 1010;
  transition: all 1s ease;
}

.logo {
  color: var(--text-color);
}

.hamburger {
  display: none;
  margin-left: auto;

  color: var(--text-color);

  cursor: pointer;
}

.hamburger .active {
  padding: 1rem;
  background-color: var(--background-color);
  display: none;
  position: absolute;
  right: 0;
  top: 75px;

  z-index: 600;
}

@media (max-width: 37.5rem) {
  .hamburger {
    display: block;
  }

  .hamburger .active {
    display: flex;
    flex-direction: column;
  }

  .logo {
    font-size: 1.7rem;
  }
}
