.header {
  display: flex;
  align-items: center;

  height: 4.7rem;
  padding: 0 2.4rem;

  background: var(--background-color);

  z-index: 1010;
  transition: all 1s ease;
}

.logo {
  color: var(--text-color);
}
