.payment-container {
  width: 100%;
  padding: 2rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;

  background-color: rgb(202, 202, 202);
}

@media (min-width: 48rem) {
  .payment-container {
    width: none;
    min-height: calc(100vh - 4rem - 4.7rem - 3rem);
    flex: 3;
  }
}
