.features-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;

  max-width: 540px;
  border-radius: 20px;
  padding: 1.5rem;

  color: white;
  background-color: rgb(61, 59, 59);
}

@media (max-width: 65rem) {
  .features {
    font-size: 0.8rem;
  }
}
