.slideContainer {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.slideImg {
  height: 18.75rem;
  aspect-ratio: 1/1;
  border-radius: 10px;

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgb(55, 102, 144);

  transition: all 0.2s ease-in-out;
}

.smallImg-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.smallImage {
  height: 50px;
  aspect-ratio: 1/1;

  border-radius: 5px;

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  filter: grayscale(100%) contrast(200%);
  transition: filter 200ms ease;
  cursor: pointer;
}

.smallImage:hover {
  filter: none;
  border: rgb(0, 173, 200) 2px solid;
}

.icon {
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
}

.icon:hover {
  color: gray;
}

@media (max-width: 29rem) {
  .slideImg {
    height: 12.5rem;
  }
  .smallImage {
    height: 45px;
  }
}

@media (max-width: 29rem) {
  .slideContainer {
    gap: 1.2rem;
  }
  .slideImg {
    height: 11rem;
  }
  .icon {
    font-size: 1.2rem;
  }
}
