.adress-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}

.longAdress {
  transition: all 0.3s ease;

  max-width: 45rem;
  width: 85vw;
}

.short-adress-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.middleAdresses {
  width: 9rem;
}

.shortAdresses {
  width: 5rem;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.btn {
  padding: 0.7rem;
  max-width: 5rem;
}

.err {
  padding: 0.8rem;
  background-color: rgb(247, 214, 218);
  border-radius: 5px;
  color: rgb(89, 46, 50);
}

@media (max-width: 30rem) {
  .short-adress-container {
    flex-direction: column;
    gap: 0.5rem;
  }
  .colon {
    display: none;
  }
}
