.nav {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 2rem;
  margin-left: auto;

  user-select: none;
}

.links:after {
  display: block;
  content: '';
  border-bottom: solid 3px var(--text-color);
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}

.links:focus:after,
.links:hover:after {
  transform: scaleX(1);
}

.linkColor {
  color: var(--text-color);
}

.activeLink {
  border-bottom: var(--border-bottom);
}

@media (max-width: 600px) {
  .nav {
    display: none;
  }
}
