.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 2rem;
  margin-left: auto;

  user-select: none;
}

.links-container {
  position: relative;
}

.links:after {
  position: absolute;
  left: 0;
  right: 0;

  display: block;
  content: '';
  border-bottom: solid 3px var(--text-color);
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}

.links:focus:after,
.links:hover:after {
  transform: scaleX(1);
}

.linkColor {
  color: var(--text-color);
}

.activeLink {
  box-sizing: unset;
  border-bottom: solid 3px var(--text-color);
}

.cartQuantity {
  /* min-width: 5rem; */

  font-size: 0.9rem;
  color: var(--text-color);

  text-align: center;
  white-space: nowrap;

  position: absolute;
  top: -1.2rem;
  left: 83%;
  transform: translateX(-50%);
}

.icon {
  display: inline-block;
  color: var(--text-color);
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .nav {
    display: none;
  }
}
