.adress-container {
  width: 100%;
  padding: 1.5rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  background-color: rgba(85, 160, 187, 0.527);

  flex: 6;
}

@media (min-width: 40rem) {
  .adress-container {
    min-height: calc(100vh - 4rem - 4.7rem - 3rem - 4rem);
    flex: 3;
    gap: 1rem;
  }
}
