.input-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  gap: 0.7rem;
  align-items: center;
}
.label {
  grid-row: 1;
}

.input-container .input:focus {
  outline: none;
  border-color: #1d867f;
  background: #dcfdff;
}

.input {
  appearance: none;
  outline: none;
  border: none;

  grid-row: var(--grid-row);
  width: 13rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  font: inherit;
  padding: 0.4rem 0.7rem;
}

.input:focus-visible {
  outline: 2px solid #000000;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #dcfdff inset !important;
}

.input::selection {
  background-color: rgb(132, 234, 255);
  color: rgb(0, 0, 0);
}
