.item-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12.58rem, 1fr));
  grid-gap: 3rem;

  place-items: center;

  max-width: 1400px;
  min-height: 500px;

  padding: 2rem;
  margin: 0 auto;
}

/* @media (max-width: 1260px) {
  .item-container {
    gap: 2.5rem;
  }
} */

@media (max-width: 1024px) {
  .item-container {
    grid-template-columns: repeat(auto-fit, minmax(10.98rem, 1fr));
    gap: 2rem;
  }
}

@media (max-width: 768px) {
  .item-container {
    grid-template-columns: repeat(auto-fit, minmax(8.65rem, 1fr));
    gap: 1rem;
  }
}

@media (max-width: 550px) {
  .item-container {
    grid-template-columns: repeat(auto-fit, minmax(6.405rem, 1fr));
    gap: 0.7rem;
  }
}

@media (max-width: 480px) {
  .item-container {
    grid-template-columns: repeat(auto-fit, minmax(6.1rem, 1fr));
    gap: 0.5rem;
  }
}
